@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary:"#0f4c75ff";
  --secondary: "faac47ff";
  --background: "#ffffff";
  --text: "#24292dff";
  --accent: "#08a4bdff";

  --box-pd: 1.5rem;
  --box-norm-pd: 1rem 1.2rem;
  --btn-sm-pd: 0.5px 0.75rem;
  --btn-lg-pd: 1rem 1.2rem;
}

.button{
  @apply rounded-xl text-[--text];
  padding: var(--btn-lg-pd);
}

